*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*background-color: #fff;*/
}

body{
    background-image: url(img/backgroundFundo6.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


header {
    background-color: rgb(12, 12, 12, 0.6);
    padding: 10px;
}

div#sobre{
    background-color: rgb(12, 12, 12, 0.6);
    width:  20vw;
    margin: 0 auto;
    text-align: center;
    color: white;
    outline: 2px solid #fff;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
}

main{
    margin: 10% 0;
    
}

div#central{
    margin: auto;
    width: 50vw;
    height: 50vh;
    background-color: rgb(232, 232, 233, 0.6);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
}

.item {
    margin-bottom: 2%;
    height: 12vh;
    width: 15vw;
    background-color: rgb(109, 45, 230);
    border: none;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
}

.item span {
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.08);/*r = red, g = gree, b =  blue, a = alfa(opacidade) */
    display: flex;
}

.item strong{
    flex: 1;
    text-align: center;
    color: white;
}


.item span::after{
    content: "";
    background-image: url("img/backgroundFundo4.jpg");
    background-size: cover;
    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    height: 100%;
}

.item:hover{
    background-color: rgb(12, 12, 12, 0.8);
    transition-duration: 700ms;
}

footer {
    background-color:  rgb(12, 12, 12, 0.8);
    width: 100%;
    padding: 5px 0;
}

div#caixaFooter{
    width: 380px;
    color: white;
    height: 4em;
    margin: 10px auto;
    display: flex;
}


a#git {
    width: 50%;  
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    color: white;
}

a#git span{
    background-image: url("img/github2.svg");
    background-size: cover;
    background-image: w;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
}

a#ap {
    width: 50%;
    text-decoration: none;
    display: flex;   
    color: white;
    align-items: flex-end;
}

a#ap span{
    background-image: url("img/youtube.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
}

a#ap strong{
    color: white;
}

a#git strong{
    color: white;
}

@media(max-width: 768px) {
    div#sobre {
        width: 50vw;
    }
    
    div#central {
        width: auto;
        margin: 0 2%;
        height: 40vh;
    }

    .item {
        width: 25vw;
    }

    .item span::after{
        background: none;
    }
   
    .item span{
        width: 0;
    }

    main{
        margin: 30% 0;
        
    }
   
    
}

